<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<button id="btn">cors按钮</button>
<script>
    $(function () {
        $("#btn").click(function () {
            $.ajax({
                url: "http://localhost:8000/test_cors_server",
                type: "get",
                success: function (res) {
                    alert(res);
                }
            })
        })
    })
</script>
</body>
</html>